.sheet-box{
  width: 100%;
  background-color: #fff;
  height: 60px;
  border-bottom: 1px solid #EEEEEE;
}
.sheet
.sheet-right{
  float: right;
  width: 80%;
  padding-left: 15px;
  // line-height: 60px;
  display: table;
  span{
    display: table-row;
    line-height: 30px;
    color: #333;
  }
  .h-titie{
    font-size: 18px;
    font-weight: 600;
  }
  .h-text{
    font-size: 12px;
  }
  p{
    // height: 30px;
    // line-height: 30px;
  }
}