.sheet-box{
  width: 100%;
  background-color: #fff;
  height: 40px;
  border-bottom: 1px solid #EEEEEE;
  padding: 10px ;
}
.sheet-box::after{
  clear: both;
  display: block;
}
.sheet-left{
  float: left;
  text-align: center;
  width: 20%;
  // line-height: 60px;
}
.sheet-right{
  float: right;
  width: 80%;
  // line-height: 60px;
  display: table;
  span{
    display: table-row;
    // line-height: 30px;
    color: #333;
  }
  .h-titie{
    font-size: 18px;
    font-weight: 600;
  }
  .h-text{
    font-size: 12px;
  }
  p{
    // height: 30px;
    // line-height: 30px;
  }
}