.headerBar{
  background-color: #1D1B20;
  height: 40px;
  width: 100%;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-size: 18px;
  }

  //Footer组件
  .footerBar{
    position: fixed;
    bottom: 0;
    ul{
      li{
        display:inline-block;
      }
  }